:root {
  --day-background: #f0f0f0;
  --night-background: #0f1115;
  --day-cards: #fff;
  --night-cards: #181b22;
  --day-primary-text: #1a1a1a;
  --night-primary-text: #e5e7eb;
  --day-secondary-text: #a7a5a5;
  --night-secondary-text: #d1d1d1;
  --day-accents: #4f8cff;
  --night-accents: #f59e0b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
  background-color: var(--day-background);
  color: var(--day-primary-text);
}

#spinner {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--day-background);
  align-items: center;
  z-index: 99999;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.7s ease,
    visibility 0.7s ease;
}



#spinner.hidden {
  opacity: 0;
  visibility: hidden;
}

#spinner::after {
  content: " ";
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 50px solid var(--night-secondary-text);
  border-top-color: var(--day-accents);
  animation: load 1s linear infinite;
}

@keyframes load {
  to {
    transform: rotate(1turn);
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--day-primary-text);
  height: 80px;
  border-bottom: 3px solid var(--day-primary-text);
  padding: 0 5%;
  z-index: 10000;
}

.header-left {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: bolder;
  color: var(--day-primary-text);
  font-family: "Popins", sans-serif;
}

.header-left h3 {
  font-weight: bolder;
  font-size: 32px;
  color: var(--day-primary-text);
  opacity: 0;
  transform: translateX(-50px); 
  animation: anim-main-left 0.8s ease forwards 0.8s;
}

.mode {
  border: 3px solid var(--day-primary-text);
  width: 130px;
  height: 45px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 60px;
  position: relative;
  opacity: 0;
  transform: translateY(-30px);
  animation: anim-main-mode 0.8s ease forwards 1s;
}

.mode #togle-btn {
  width: 35px;
  height: 35px;
  background-color: var(--day-primary-text);
  border-radius: 50%;
  position: absolute;
  left: 5px;
  transition: left 0.3s ease;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.mode span {
  font-size: 25px;
  cursor: pointer;
  padding: 2px;
  background-color: transparent;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

header nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
}

header nav ul li {
  list-style: none;
  display: flex;
  font-size: 18px;
  cursor: pointer;
  opacity: 0;
}

header nav ul li a {
  text-decoration: none;
  color: var(--day-primary-text);
  transition: color 0.3s ease;
  font-weight: 900;
  position: relative;
}

header nav ul li:last-child {
  display: none;
  font-size: 28px;
}


header nav ul li:nth-child(1) { animation: anim-main-right 0.6s ease forwards 1.2s; }
header nav ul li:nth-child(2) { animation: anim-main-right 0.6s ease forwards 1.4s; }
header nav ul li:nth-child(3) { animation: anim-main-right 0.6s ease forwards 1.6s; }

header nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 4px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
}

header nav ul li a:hover::after {
  transform: scaleX(1);
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: calc(100dvh - 60px);
}
#about-section,
#projects-section,
#contact-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: var(--day-background);
  transition:
    transform 0.6s ease-in-out,
    opacity 0.5s ease;
  overflow-y: auto;
  z-index: 1;
}

.hide-page {
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
}
.active-page {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
  z-index: 10;
}

#about-section{
  display: flex;
  justify-content: space-around;
  position: absolute;
  gap: 160px;
  padding: 0 5%;
}

#projects-section {
  display: flex;
  position: absolute;
  gap: 160px;
  padding: 0 5%;
}

#about-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#about-left.animate .social-icons {
  animation: anim-main-left 1.2s ease forwards;
}

#about-left img {
  border-radius: 50%;
  width: 500px;
  height: 500px;
  object-fit: cover;
  border: 5px solid var(--day-accents);
  background-color: var(--day-accents);
}

.social-icons {
  display: flex;
  padding: 20px 0;
  margin: 0;
  font-size: 35px;
  justify-content: center;
  gap: 30px;
  padding-top: 10%;
}

.social-icons li {
  list-style: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--day-primary-text);
  transition: color 0.3s ease;
  border: 3px solid var(--day-primary-text);
  border-radius: 50%;
  transform: translateX(-1200%);

}


#about-section.animate .social-icons li {
  animation: anim-main-left 0.7s ease forwards;
}

.social-icons li:first-child:hover {
  background-color: #3b5998;
  color: white;
}

.social-icons li:nth-child(2):hover {
  background-color: #0077b5;
  color: white;
}

.social-icons li:nth-child(3):hover {
  background-color: #dd4b39;
  color: white;
}
.social-icons li:nth-child(4):hover {
  background-color: #333;
  color: white;
}

.nav-list {
  flex-direction: column;
  position: absolute;
  top: 0px;
  width: 90%;
  margin: 0 5%;
  background-color: var(--day-background);
  border: 3px solid var(--day-primary-text);
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
}
.nav-list.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

@keyframes nav-list-anime {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.nav-list li {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-list li:last-child {
  border-bottom: none;
}

.nav-list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
  color: var(--day-primary-text);
  transition:
    background-color 0.5s ease,
    color 0.3s ease;
}

.nav-list li a:hover {
  background-color: var(--day-accents);
  color: #fff;
}

#projects-left h2 {
    font-size: 48px;
  font-weight: 900;
  position: relative;
  color: var(--day-accents);
  text-shadow: 2px 6px 8px rgba(0, 0, 0, 0.4);
  opacity: 0;
  padding-bottom: 20px;
}

#projects-left h2 {
  opacity: 0;
}

#projects-section.animate #projects-left h2 {
  animation: textVisible 0.7s ease forwards;
}

.skills-list {
  list-style: none;
  width: 300px;
  padding: 0;
  margin: 0;
  
}

.skills-list li {
  width: 300px;
  display: flex;
  flex-direction: column;

}

.list-span-class {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: 14px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--night-background);
  
}

.progress-fill {
  height: 100%;
  width: 0;
  background-color: var(--day-accents); 
  border-radius: 10px;
  transition: width 0.8s ease; 
  
 }

 .skills-list li {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.skills-list li.visible {
  opacity: 1;
  transform: translateY(0);
}

#about-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  flex: 1;
  max-height: 90vw;
}

#about-right h2, #projects-right h2 {
  font-size: 48px;
  font-weight: 900;
  position: relative;
  color: var(--day-accents);
  text-shadow: 2px 6px 8px rgba(0, 0, 0, 0.4);
  opacity: 0;
}

#about-right h2,
#about-right h3,
#about-right p {
  opacity: 0;
}

#about-section.animate #about-right h2,
#about-section.animate #about-right h3,
#about-section.animate #about-right p {
  animation: textVisible 0.7s ease forwards;
}

.text-section {
  position: absolute;
  top: 20%;
  opacity: 0;
  transform: translateX(50px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
  display: flex;
  flex-direction: column;
}

.text-section.active {
  display: flex;
  opacity: 1;
  transform: translateX(0);
}

.text-section.exit-left {
  opacity: 0;
  transform: translateX(-50px);
}

.text-section h3 {
  font-size: 32px;
  font-weight: 900;
  color: var(--day-primary-text);
  text-shadow: 2px 6px 8px rgba(0, 84, 107, 0.4);
  transform: translateY(10px);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  margin-bottom: 5%;
  opacity: 0;
  animation: textVisible 0.7s 6.5s forwards;
}

.text-section.show-title h3 {
  opacity: 1;
  transform: translateX(0);
}

.text-section p {
  visibility: hidden;
  text-align: justify;
  font-size: 18px;
  opacity: 0;
  animation: textVisible 6.7s 6.7s forwards;
}

.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30%;
  transform: scale(0);
}

#about-section.animate .numbers {
  animation: anim-numbers 0.7s ease forwards;
} 

.num-class {
  font-family: "Michroma";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-left: 5px solid black;
}

.change {
  display: flex;
  align-items: baseline;
  font-size: 72px;
  line-height: 1;
}

.num-class:first-child {
  border: none;
}

.letter-span {
  display: inline-block;
  transform: rotate(90deg);
  transform-origin: center;
  color: #a7a5a5;
}

#cv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  transform: translateY(600px);
}

#about-section.animate #cv {
  animation: cv-animate 0.7s ease forwards;
}

#about-right a {
  text-decoration: none;
  border: 2px solid var(--day-accents);
  background: var(--day-accents);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 60px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

/*project-page*/

.hide-page {
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
}

.active-page {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
  z-index: 100;
}

#projects-left {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 250px;
}

.list-span-class {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.list-span-class,
.per-div {
  width: 100%;
}

.per-div input[type="range"] {
  width: 100%;
}

.list-span-class {
  position: relative;
  margin: 20px 0;
}


.list-span-class label {
  font-size: 14px;
  color: var(--night-background);
  font-weight: 600;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease, color 0.3s ease;
}

.list-span-class .percent {
  font-size: 14px;
  color: var(--night-background);
  font-weight: 600;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: transform 0.3s ease, color 0.3s ease;
}



/* Стил за label */
/*darkmMode*/

.darkMode #about-section, .darkMode #project-section {
  background-color: var(--night-background);
}
.darkMode header {
  background-color: var(--night-background);
}

.darkMode h3,
.darkMode .header-right nav li a {
  color: var(--night-primary-text);
}

.darkMode #togle-btn,
.darkMode .mode {
  border: 3px solid var(--night-primary-text);
}

.darkMode #togle-btn {
  background-color: var(--night-primary-text);
}

.darkMode #about-left img {
  border: 5px solid var(--night-accents);
  background-color: var(--night-accents);
}

.darkMode #about-right h2 {
  color: var(--night-accents);
}

.darkMode #about-right h3 {
  color: var(--night-secondary-text);
  text-shadow: var(--day-cards);
}

.darkMode #about-right p {
  color: var(--night-secondary-text);
}

.darkMode .nav-list {
  background-color: var(--night-background);
  border: 3px solid var(--night-primary-text);
  border-radius: 10px;
}

.darkMode .nav-list li a {
  color: var(--night-primary-text);
  transition:
    background-color 0.5s ease,
    color 0.3s ease;
}

.darkMode .nav-list li a:hover {
  background-color: var(--night-accents);
  color: #fff;
}

.darkMode #cv a {
  border: #9e680b;
  background-color: var(--night-accents);
}
.darkMode #cv a:hover {
  background-color: #b37c15;
  transition: background-color 0.5s;
}

.darkMode header nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 4px;
  background-color: var(--night-primary-text);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
}

.darkMode header nav ul li:last-child {
  color: var(--night-primary-text);
}

.darkMode header nav ul li a:hover::after {
  transform: scaleX(1);
}

.darkMode #about-left .social-icons li {
  color: var(--night-primary-text);
  transition: color 0.3s ease;
  border: 3px solid var(--night-primary-text);
}

.darkMode .num-class {
  border-left: 5px solid var(--night-primary-text);
}

.darkMode .num-class span {
  color: var(--night-primary-text);
}

.darkMode .num-class:first-child {
  border: none;
}

.darkMode #projects-section {
  background-color: var(--night-background);
  color: var(--night-primary-text);
}
@media screen and (max-width: 768px) {
  header nav ul li {
    display: none;
  }

  header nav ul li:last-child {
    display: block;
    transform: translateX(1200px);
    animation: anim-main-right 0.7s ease 5.4s forwards;
  }


  
  .social-icons {
    padding-bottom: -50px;
  }

  #about-right h2,
  #about-right h3 {
    text-align: center;
  }
  .main-text {
    min-height: 400px;
    position: relative;
  }
  #about-right {
    display: flex;
    flex-direction: column;
    top: -10px;
    gap: 20px;
    width: 95%;
  }

  .text-section {
    width: 100%;
    top: 0;
  }

  .numbers {
    padding-top: 50px;
    position: relative;
    margin: auto;
    padding: auto;
  }

  .mode {
    position: fixed;
    animation: rotate 0.7s 6.3s forwards;
    top: 150px;
    right: 0px;
    z-index: 999;
  }

  #about-left img {
    width: 90%;
    max-width: 450px;
    max-height: 450px;
    transform: scale(1);
  }
}

@media screen and (max-width: 1920px) {
  .num-class span {
    font-size: clamp(18px, 24px, 48px);
  }

  .num-class .letter-span {
    font-size: clamp(10px, 10px, 18px);
  }
}

@media screen and (min-width: 1920px) {
  header {
    height: 160px;
  }

  #about-section,
  #projects-section,
  #contact-section {
    top: 160px;
  }
  .header-left h3 {
    font-size: clamp(32px, 64px, 96px);
    font-weight: bolder;
  }

  .header-right ul li {
    font-size: clamp(20px, 40px, 60px);
    font-weight: bolder;
  }

  header .mode {
    width: 260px;
    height: 90px;
  }

  header .mode span {
    font-size: 48px;
  }

  .mode #togle-btn {
    width: 80px;
    height: 80px;
  }

  #about-left img {
    width: 950px;
    max-width: 1200px;
    height: 950px;
    max-height: 1200px;
  }
  #about-left li {
    width: 180px;
    height: 180px;
    font-size: 90px;
  }
  #about-right h2, #projects-left h2, #projects-right h2  {
    font-size: clamp(68px, 112px, 148px);
  }
  #about-right h3, #projects-right h3 {
    font-size: clamp(48px, 68px, 112px);
  }
  .progress-bar{
    height: 30px;
    border-radius: 30px;
  }

  .list-span-class, 
  #about-right p {
    font-size: clamp(18px, 36px, 48px);
  }

  #about-right a {
    width: 450px;
    height: 150px;
    font-weight: bolder;
    font-size: 50px;
  }
}

@keyframes anim-main-left {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes anim-main-right {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes anim-main-mode {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes anim-numbers {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(90deg);
  }
}

@keyframes cv-animate {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes textVisible {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes skils-list-animation{
  0%{
    transform: translateY(5000%);
  }

  100%{
    transform: translateY(0);
  }
}