* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #63ff92;
  --header-color: rgb(27, 27, 27);
}

body {
  height: 100vh;
  background: radial-gradient(circle, #252525, var(--header-color));
  font-family: 'Manrope', sans-serif;
  overflow-x: hidden;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  background-color: transparent;
  border-bottom: #63ff92 2px solid;
  justify-content: space-between;
  padding: 0 60px;
  align-items: center;
  height: 5rem;
}

#right-nav {
  list-style: none;
  display: flex;
  gap: 60px;
  align-items: center;
}
#right-nav li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease ;
}

#right-nav li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0 16px;
}




#right-nav li:last-child,
#right-nav li:nth-last-child(2) {
  display: none;
}


.material-symbols-outlined {
    font-size: 48px; 
    color: var(--text-color); 
    line-height: 1; 
    margin-bottom: 4px; 
    display: inline-block;
}

.name {
  font-size: 18px; 
  display: none;
}



#right-nav li:hover {
  background-color: var(--text-color);
  border-radius: 8px; 
  transition: color 0.5s;
  gap:0px;
  margin: 0;
}


#right-nav li:hover .material-symbols-outlined {
    display: flex;
    color: var(--header-color);
    margin: 0;
}

#right-nav li:hover .name {
    display: block;
    color: var(--header-color);
    font-weight: 700;
}



.left-header h2 {
  color: var(--text-color);
  font-weight: 900;
  font-size: 32px;
}


#side-nav {
  position: absolute;
  list-style: none;
  align-items: center;
  top: 5rem;
  background-color: rgb(27, 27, 27);
  width: 85%;
  margin: 0;
  padding: 0;
  border: 5px solid var(--text-color);
  border-radius: 10px;
  display: flex;
  z-index: 100;
  flex-direction: column ;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px); 
  transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease;

}
#side-nav.show {
  opacity: 1;
  visibility: visible;
   transform: translateY(0);
}

#side-nav li {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  transition: background-color 0.3s ease;
}
#side-nav li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  font-size: 18px;
  gap: 15px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#side-nav li:hover {
  background-color: var(--text-color);
  border-radius: 8px; 
  transition: color 0.5s;
  gap:0px;
  margin: 0;
  align-self: center;
  justify-content: center;
}

#side-nav .name{

  display: inline-block ;
}
#side-nav li:hover a{
  justify-content: center;
  align-items: center;
  padding: auto auto;
}

#side-nav li:hover .material-symbols-outlined {
    display: flex;
    color: var(--header-color);
    margin: 0;
}

#side-nav li:hover .name {
    display: block;
    color: var(--header-color);
    font-weight: 700;
}

#side-nav li:first-child:hover {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


#side-nav li:last-child:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 7rem 60px; 
  width: 100%;
  box-sizing: border-box;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  width: 100%;
  margin: auto;
  padding: auto;
}

.profile img {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--text-color);
}

.social-container {
  padding-top: 20px;
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
}

.social-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.social-circle:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in;
  background-color: snow;
}


.pfofile-info {
  text-align: center;
  width: 100%;  
  margin: auto;
  padding: auto;
  position: relative;
  height: 100% ;
}

.profile-details {
  flex: 1;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}


.job-section{
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}


#name{
  font-size: 48px;
  font-weight: 900;
  color: white;
  padding-bottom: 25px;
}


.job-section-header{
  font-size: 32px;
  font-weight: 800;
  border-bottom: 2px solid var(--text-color);
  padding-bottom: 10px;
}

.job-info p{
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  padding-top: 20px;
  color: #cfcfcf;
  font-weight: bold;
  width: 100% ;
}

.job-info {
  opacity: 1;
  position: absolute;
  transform: translateX(40px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  pointer-events: none;
  width: 100% ;
}
#net-developer,
#graphic-designer{
  opacity: 0;
}
.job-info.active {
  opacity: 1;
  transform: translateX(0);
  position: relative;
  pointer-events: all;
}

.job-info.inactive {
  opacity: 0;
  transform: translateX(-40px); 
}


.fa-brands.fa-linkedin,
.fa-brands.fa-github,
.fa-solid.fa-envelope,
.fa-brands.fa-instagram {
  color: var(--header-color);
  font-size: 36px;
  transition: color 0.3s ease;
}

.fa-brands.fa-linkedin:hover{
  color: #0A66C2; 
}
.fa-brands.fa-github:hover{
  color: #171515; 
}

.fa-solid.fa-envelope:hover{
  color: #D44638; 
}

.fa-brands.fa-instagram:hover{
  color: #E1306C; 
}

@media (min-width: 768px) and (max-width: 1024px) {
    #right-nav li {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    pointer-events: none;
  }

  #right-nav li:nth-last-child(2) {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
  }
}