* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #63ff92;
  --header-color: rgb(27, 27, 27);
}

body {
  height: 100vh;
  background: radial-gradient(circle, #252525, var(--header-color));
  font-family: 'Manrope', sans-serif;
  overflow-x: hidden;
}

.spinner{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-color);
  z-index: 9999;
  opacity: 1 ;
  transition: opacity 1s ease-out;
}

.spinner::after {
  content: "";
  width: 200px;
  height: 200px;
  border: 50px solid var(--text-color);
  border-top: 50px solid whitesmoke;
  border-radius: 50%;
  animation: spin 1.5s ease-in-out infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

header {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  border-bottom: #63ff92 2px solid;
  padding: 0 5%;
  align-items: center;
  height: 5rem;
}

#right-nav {
  list-style: none;
  display: flex;
  gap: 60px;
  align-items: center;
}



#right-nav li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease ;
}

#right-nav li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0 16px;
}

#right-nav .menu-toggle{
  display: none;
}

.material-symbols-outlined {
    font-size: 48px; 
    color: var(--text-color); 
    line-height: 1; 
    margin-bottom: 4px; 
    display: inline-block;
}

.name {
  font-size: 18px; 
  display: none;
}



#right-nav li:hover {
  background-color: var(--text-color);
  border-radius: 8px; 
  transition: color 0.5s;
  gap:0px;
  margin: 0;
}


#right-nav li:hover .material-symbols-outlined {
    display: flex;
    color: var(--header-color);
    margin: 0;
}

#right-nav li:hover .name {
    display: block;
    color: var(--header-color);
    font-weight: 700;
}



.left-header h2 {
  color: var(--text-color);
  font-weight: 900;
  font-size: 32px;
}

#side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  top:5rem;
  width: 90%;
  list-style: none;
  position: absolute;
  border: 5px solid var(--text-color);
  background-color: var(--header-color);
  border-radius: 15px;
  z-index: 1000;
  height: auto;
  opacity:0; 
  transition: transform 0.4s ease, opacity 0.4s ease; /* Анимација на трансформацијата */
}
.show {
  transform: translateY(0);  /* Покажи го менито */
  opacity: 1; /* Покажи го менито */
}


#side-nav li{
  width: auto;
  justify-content: center;
  padding: 15px 0 15px 0;
  align-items: flex-start;
  transition: background-color 0.3s ease; 
}

#side-nav li a{
  text-decoration: none;
  display: flex;
  align-items: center;
}



#side-nav li:hover{
  width: 100%;
  background-color: white;
  border-radius: 8px; 
  transition: background-color 0.5s ease;
  cursor: pointer;
}


#side-nav li .name {
    display: inline-block;
    margin-left: 10px;
    color: var(--text-color);
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
}

.close-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  margin-bottom: 10px;
}

.close-btn span {
  cursor: pointer;
}


main{
  position: relative;
  top: 8rem;
  display: flex;
  gap: 20px;
  height: auto;
  width:   auto;
  margin: 20px 5%;

}


.profile img {
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--text-color);
}

.social-container {
  padding-top: 60px;
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.social-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  font-size: 36px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  position: relative;

}


.profile-details h1 {
  color: var(--text-color);
  font-size: 54px;
  margin-bottom: 10%;
  font-weight: 900;
}


.job-section {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  width: 1000px;
  position: relative;
  height: 600px;
  overflow: hidden;
}


.job-section-header {
  color: whitesmoke;
  font-size: 45px;
  font-weight: 800;
  padding-bottom: 7%;
}
.job-info p {
  color: var(--text-color);
  font-size: 26px;
  line-height: 1.6;
  text-align: justify;  
  margin-right: 10%;
}


.job-info{
  position: absolute;
  opacity: 0;
  transform: translateX(1000px);
  transition: all 0.5s ease-out;
  max-width: 100%;
  padding: 0 10px;
  margin-right: 5%;
}
.fade-out{
  opacity: 0;
  transform: translateX(1000px);
  transition: all 0.5s ease-out;
  z-index: 1;
}

.fade-in{
  z-index: 2;
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease-out;
}

#download {
  position: absolute;
  bottom: 20px;           /* same as social-container spacing */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 350px; 
  height: 70px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  color: var(--header-color);
  background-color: var(--text-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

#download span{
  color: var(--header-color);
}



@media (max-width: 768px) {
  #right-nav li:nth-child(1),
  #right-nav li:nth-child(2),
  #right-nav li:nth-child(3){
    display: none;
  }

  #right-nav .menu-toggle{
  display: flex;
  cursor: pointer;
  }


  .spinner::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 25px solid var(--text-color);
  border-top: 25px solid whitesmoke;
  border-radius: 50%;
  animation: spin 1.5s ease-in-out infinite;
  }
  .job-info p {
    font-size: 18px;
    margin-right: 5%;
  }

  .job-section {
    height: auto;
    overflow: visible;
  }
}