:root{
    --day-background: #f0f0f0;
    --night-background: #0F1115;
    --day-cards: #FFF;
    --night-cards: #1A1C23;
    --day-primary-text: #1A1A1A;  
    --night-primary-text: #E6E6E6;
    --day-secondary-text: #a7a5a5;
    --night-secondary-text: #a0a0a0;
    --day-accents: #4F8CFF;
    --night-accents: #4F8CFF;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
    background-color: var(--day-background);
    color: var(--day-primary-text);
}

#spinner{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--day-background);
    align-items: center;
    z-index: 99999;
    opacity: 1;
    visibility: visible;
    transform: opacity 0.7s ease;
}


#spinner.hidden {
    opacity: 0;
    visibility: hidden;
}

#spinner::after{
    content: " ";
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 50px solid var(--night-secondary-text);
    border-top-color: var(--day-accents) ;
    animation: load 1s linear infinite;
}

@keyframes load{
    to{
        transform: rotate(1turn);
    }
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--day-primary-text);
    height: 80px;
    border-bottom: 3px solid var(--day-primary-text);
    padding: 0 5%;
}

.header-left {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bolder;
    color: var(--day-primary-text);
    font-family: 'Popins', sans-serif;
}

.mode{
    border: 3px solid var(--day-primary-text);
    width: 130px;
    height: 45px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 60px;
    position: relative;
}

.mode #togle-btn{
    width: 35px;
    height: 35px;
    background-color: var(--day-primary-text);
    border-radius: 50%;
    position: absolute;
    left: 5px;
    transition: left 0.3s ease;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.mode span{
    font-size: 25px;
    cursor: pointer;
    padding: 2px;
    background-color: transparent;
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

header nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
}

header nav ul li{
    list-style: none;
    display: flex;
    font-size: 18px;
    cursor: pointer;
}

header nav ul li a{
    text-decoration: none;
    color: var(--day-primary-text);
    transition: color 0.3s ease;
    font-weight: 900;
    position: relative;
}

header nav ul li:last-child{
    display: none;
    font-size: 28px;
}

header nav ul li a::after{
  content: ""; 
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 4px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
}

header nav ul li a:hover::after {
  transform: scaleX(1);
}


main{
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.main-section{
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    gap: 160px;
}

#about-left{
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    align-items: center;    
    
}

#about-left img{
    border-radius: 50%;
    width: 500px;
    height: 500px;
    object-fit: cover;
    border: 5px solid var(--day-accents);
    background-color: var(--day-accents);
}


.social-icons{
    display: flex;
    padding: 20px 0;
    margin: 0;
    font-size: 35px;
    justify-content: center;
    gap: 30px;
    padding-top: 10%;
}

.social-icons li{
    list-style: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--day-primary-text);
    transition: color 0.3s ease;
    border: 3px solid var(--day-primary-text);
    border-radius: 50%;
}

.social-icons li:first-child:hover{
    background-color: #3b5998; 
    color: white;
}

.social-icons li:nth-child(2):hover{
    background-color: #0077b5; 
    color: white;
}

.social-icons li:nth-child(3):hover{
    background-color: #dd4b39; 
    color: white;
}
.social-icons li:nth-child(4):hover{
    background-color: #333; 
    color: white;
}

.nav-list {
    flex-direction: column;
    position: absolute;
    top: 80px;
    width: 90%;
    margin: 0 5%;
    background-color: var(--day-background);
    border: 3px solid var(--day-primary-text);
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.4s ease;
}
.nav-list.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


@keyframes nav-list-anime {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.nav-list li {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-list li:last-child {
    border-bottom: none;
}

.nav-list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
    color: var(--day-primary-text);
    transition: background-color 0.5s ease, color 0.3s ease;
}

.nav-list li a:hover {
    background-color: var(--day-accents);
    color: #fff;
}


#about-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    flex: 1;
    max-height: 90vw;
    
}


#about-right h2{
    font-size: 48px;
    font-weight: 900;
    position: relative;
    color: var(--day-accents);
     text-shadow: 2px 6px 8px rgba(0, 0, 0, 0.4);
    
}

.text-section {
    position:absolute;
    top: 20%;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;

    display: flex;
    flex-direction: column;
}



.text-section.active {
    display: flex;
    opacity: 1;
    transform: translateX(0);
}


.text-section.exit-left {
    opacity: 0;
    transform: translateX(-50px);
}

.text-section h3{
    font-size: 32px;
    font-weight: 900;
    color: var(--day-primary-text);
    text-shadow: 2px 6px 8px rgba(0, 84, 107, 0.4);
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin-bottom: 5%;
}

.text-section.show-title h3{
    opacity: 1;
    transform: translateX(0);
}

.text-section p{
    visibility: hidden;
    text-align: justify;
    font-size: 18px;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}


.num-class {
    font-family: 'Michroma';
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-left: 5px solid black;

}

.change {
    display: flex;
    align-items: baseline;
    font-size: 72px;
    line-height: 1;
}

.num-class:first-child{
    border: none;
}

.letter-span {
    display: inline-block;
    transform: rotate(90deg);
    transform-origin: center;
    color: #a7a5a5;
}

#cv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

#about-right a{
    text-decoration: none;
    border:2px solid var(--day-accents);
    background: var(--day-accents);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 60px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}


@media screen and (max-width: 768px){
    header nav ul li {
        display: none;
    }

    header nav ul li:last-child {
        display: block;
    }
    
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5% 5%;
        justify-content: space-between;
    }

    #about-left,
    #about-right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social-icons{
        margin: 10px auto;
    }

    #about-right h3{
        display: flex;
        justify-content: center;
        margin: 40px auto;
    }

    #about-right p{
            text-align: justify;
    }

    #about-right a{
        position: relative;
        bottom: 0;
    }  
}


@media screen and (max-width: 1920px) {
   
    .num-class span{
        font-size: clamp(18px, 24px, 48px);
    }

    .num-class .letter-span {
        font-size: clamp(10px, 10px, 18px);
    }
}   

@media screen and (min-width: 1920px) {
    header{
        height: 160px;
    }

    .header-left h3{
        font-size: clamp(32px, 64px, 96px);
        font-weight: bolder;
    }

    .header-right ul li {
        font-size: clamp(20px, 40px, 60px);
        font-weight: bolder;

    }

    header .mode{
        width: 260px;
        height: 90px;
    }

    header .mode span{
        font-size: 48px;
    }

    .mode #togle-btn{
        width: 80px;
        height: 80px;
    }
    
    #about-left img{
        width: 950px;
        max-width: 1200px;
        height: 950px;
        max-height: 1200px;
    }
    #about-left li{
        width: 180px;
        height: 180px;
        font-size: 90px;
    }
    #about-right h2{
        font-size: clamp(68px, 112px, 148px);
    }
    #about-right h3{
        font-size: clamp(48px, 68px, 112px);
    }

    #about-right p{
        font-size: clamp(18px, 36px, 48px);
    }

    #about-right a{
        width: 450px;
        height: 150px;
        font-weight: bolder;
        font-size: 50px;
    }




    
}